
<!DOCTYPE html>


<h1 align="center"> Moteur de recommandation de films </h1>
<h3 style="margin-top:50"> Les films sont indexés entre l'id 1 et 5000 </h3>

<div> 
	<p>Ajoutez <strong>/film/id</strong> à l'adresse actuelle pour une recommandation de film soit remplissez le formulaire suivant : </p>
	<form method="get" action="/film">
		<label for="id_film">Indiquez un id de Film : </label>
      	<input type="text" name="id_film" id="id_film" />
      	<input type="submit" value="OK" />
	</form>
</div>